<div class="page-width page-content">
  <header class="section-header section-header--404">
    <h1 class="section-header__title">{{ 'general.404.title' | t }}</h1>
    <div class="rte text-spacing">
      {{ 'general.404.subtext_html' | t: url: routes.root_url }}
    </div>
    
{% comment %}
	<div class="section-404-search">
      <form class="search" action="/search">
          <input type="text" placeholder="Search" name="q" value="{{ search.terms | escape }}"  />
          <input type="submit" value="Search" />
      </form>
    </div>
{% endcomment %}
    
    {% section "VivestoSection-404page" %}

  </header>
</div>

{% include 'SEOManager-404' %}